@{
    ViewBag.Title = "Index - Study Group Categories";
    Layout = "Dashboard/_Layout";
}
@section Styles
{
    @* <link rel="stylesheet" href="~/modules/study_group_categories/index.css" asp-append-version="true" /> *@
}

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Study Group Categories</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" href="#">Study Group Categories</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">List</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <img src="~/templates/modernize/images/breadcrumb/ChatBc.png"
                                 alt=""
                                 class="img-fluid mb-n4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="card-title mb-0">Study Group Categories Management</h4>
                            <div id="btn-add-study-group-category"></div>
                        </div>
                        <div id="studyGroupCategoriesDataGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Anti-Forgery Token for AJAX requests *@
@Html.AntiForgeryToken()

@section FooterScripts {
    <script src="~/modules/study_group_categories/footer_index.js" asp-append-version="true"></script>
}