<aside class="left-sidebar with-vertical">
	<div><!-- ---------------------------------- -->

		<!-- Start Vertical Layout Sidebar -->
		<!-- ---------------------------------- -->
		<div class="brand-logo d-flex align-items-center justify-content-between">
			<a href="#" class="text-nowrap logo-img">
			</a>
			<a
				href="javascript:void(0)"
				class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none"
			>
				<i class="ti ti-x"></i>
			</a>
		</div>


		<nav class="sidebar-nav scroll-sidebar" data-simplebar>
			<ul id="sidebarnav">
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu">Menu</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" asp-controller="Dashboard" asp-action="Index"
					   aria-expanded="false">
        <span>
          <i class="ti ti-home"></i>
        </span>
						<span class="hide-menu">Home</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a
						class="sidebar-link has-arrow"
						href="javascript:void(0)"
						aria-expanded="false"
					>
        <span class="d-flex">
          <i class="ti ti-users"></i>
        </span>
						<span class="hide-menu">User Management</span>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item">
							<a asp-controller="Users" asp-action="Upsert" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">Add User</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-controller="Users" asp-action="Index" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">List of Users</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="sidebar-item">
					<a
						class="sidebar-link has-arrow"
						href="javascript:void(0)"
						aria-expanded="false"
					>
        <span class="d-flex">
          <i class="ti ti-list"></i>
        </span>
						<span class="hide-menu">Ads Management</span>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item">
							<a asp-controller="Ads" asp-action="Upsert" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">Add Ads</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-controller="Ads" asp-action="Index" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">All Ads</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="sidebar-item">
					<a class="sidebar-link" asp-controller="GroupCategories" asp-action="Index"
					   aria-expanded="false">
        <span>
          <i class="ti ti-list"></i>
        </span>
						<span class="hide-menu">Group Categories</span>
					</a>
				</li>

				<li class="sidebar-item">
					<a
						class="sidebar-link has-arrow"
						href="javascript:void(0)"
						aria-expanded="false"
					>
        <span class="d-flex">
          <i class="ti ti-users"></i>
        </span>
						<span class="hide-menu">Group Management</span>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item">
							<a asp-controller="StudyGroup" asp-action="Create" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">Create Study Group</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-controller="Products" asp-action="Index" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">All Groups</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="sidebar-item">
					<a
						class="sidebar-link has-arrow"
						href="javascript:void(0)"
						aria-expanded="false"
					>
        <span class="d-flex">
          <i class="ti ti-report-analytics"></i>
        </span>
						<span class="hide-menu">Reports</span>
					</a>
					<ul aria-expanded="false" class="collapse first-level">
						<li class="sidebar-item">
							<a href="#" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">Activity Logs</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-controller="Reports" asp-action="SalesReport" class="sidebar-link">
								<div
									class="round-16 d-flex align-items-center justify-content-center"
								>
									<i class="ti ti-circle"></i>
								</div>
								<span class="hide-menu">Sales Report</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		<div
			class="fixed-profile p-3 mx-4 mb-2 bg-secondary-subtle rounded sidebar-ad mt-3"
		>
			<div class="hstack gap-3">
				<div class="john-img">
					<img
						src="~/images/studyconnect_logo.png"
						class="rounded-circle"
						width="40"
						height="40"
						alt="Logo"
					/>
				</div>
				<div class="john-title">
					<span
						class="fs-2">Administrator</span>
				</div>
				<a asp-controller="Auth" asp-action="Logout" class="border-0 bg-transparent text-primary ms-auto"><i
					                                                                                              class="ti ti-power fs-6"></i></a>
			</div>
		</div>
	</div>
</aside>
