@model StudyConnect.ViewModels.Auth.IndexViewModel

@{
    ViewBag.Title = "Login";
    Layout = "Auth/_Layout";
}

@section Styles {
	<link rel="stylesheet" href="~/modules/auth/index.css" asp-append-version="true" />
}

<div id="main-wrapper">
	<div
		class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
		<div class="d-flex align-items-center justify-content-center w-100">
			<div class="row justify-content-center w-100">
				<div class="col-md-8 col-lg-6 col-xxl-3">
					<div class="card mb-0">
						<div class="card-body">
							<a href="#" class="text-nowrap logo-img text-center d-block mb-5 w-100">
								<img src="~/images/studyconnect_logo.png" height="100" width="200" class="dark-logo" alt="Study Connect Logo"/>
								<img src="~/images/studyconnect_logo.png" height="100" width="200" class="light-logo" alt="Study Connect Logo"/>
							</a>
							<form id="form" role="form" method="POST">
								@Html.AntiForgeryToken()
								
								<!-- Hidden inputs for form submission -->
								<input type="hidden" id="email-hidden" name="Email" value="administrator@studyconnect.ph" />
								<input type="hidden" id="password-hidden" name="Password" value="123456" />
								<input type="hidden" id="remember-hidden" name="RememberMe" value="true" />
								
								<div class="mb-3">
									<label for="username" class="form-label">Email Address <code>*</code></label>
									<div id="username"></div>
								</div>
								<div class="mb-4">
									<label for="password" class="form-label">Password <code>*</code></label>
									<div id="password"></div>
								</div>
								<div class="d-flex align-items-center justify-content-between mb-4">
									<div id="flexCheckChecked"></div>
									<a asp-action="ForgotPassword" asp-controller="Auth" class="text-primary fw-medium">Forgot Password?</a>
								</div>
								<div id="btn-signin" class="mb-4"></div>
								<div class="col-sm-12 text-center">
									<a asp-action="Register" asp-controller="Auth">Create an Account</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dark-transparent sidebartoggler"></div>

@section FooterScripts {
	<script src="~/modules/auth/footer_index.js" asp-append-version="true"></script>
}
