@model StudyConnect.ViewModels.Auth.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "Auth/_Layout";
}
@section Styles {
 <link rel="stylesheet" href="~/modules/auth/register.css" asp-append-version="true" />
}

<div id="main-wrapper">
	<div
		class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
		<div class="d-flex align-items-center justify-content-center w-100">
			<div class="row justify-content-center w-100">
				<div class="col-md-8 col-lg-6 col-xxl-3">
					<div class="card mb-0">
						<div class="card-body">
							<a href="#" class="text-nowrap logo-img text-center d-block mb-5 w-100">
								<img src="~/images/studyconnect_logo.png" height="100" width="100" class="dark-logo" alt="Study Connect Logo"/>
								<img src="~/images/studyconnect_logo.png" height="100" width="100" class="light-logo" alt="Study Connect Logo"/>
							</a>
    <form id="form" role="form" method="POST">
           @Html.AntiForgeryToken()
          
   <!-- Hidden inputs for form submission -->
       <input type="hidden" id="lastname-hidden" name="LastName" />
          <input type="hidden" id="firstname-hidden" name="FirstName" />
 <input type="hidden" id="middlename-hidden" name="MiddleName" />
    <input type="hidden" id="email-hidden" name="Email" />
          <input type="hidden" id="password-hidden" name="Password" />

         <div class="row">
           <div class="col-sm-12">
         <div class="mb-3">
            <label for="last_name" class="form-label">Last Name
 <code>*</code></label>
          <div id="last_name"></div>
          </div>
   </div>

          <div class="col-sm-6">
        <div class="mb-3">
        <label for="first_name" class="form-label">First Name
     <code>*</code></label>
             <div id="first_name"></div>
      </div>
          </div>

             <div class="col-sm-6">
               <div class="mb-3">
              <label for="middle_name" class="form-label">Middle Name</label>
  <div id="middle_name"></div>
            </div>
  </div>

              <div class="col-sm-12">
          <div class="mb-3">
           <label for="username" class="form-label">Email Address
      <code>*</code></label>
  <div id="username"></div>
                  </div>
          </div>

             <div class="col-sm-12">
         <div class="mb-3">
      <label for="password" class="form-label">Password <code>*</code></label>
         <div id="password"></div>
          </div>
         </div>
   <div class="col-sm-12">
     <div id="btn-register" class="mb-4"></div>
        </div>
   <div class="col-sm-12">
     <div class="d-flex align-items-center justify-content-center">
       <p class="fs-4 mb-0 fw-medium">Already have an account?</p>
    <a class="text-primary fw-medium ms-2" asp-controller="Auth" asp-action="Index">Click
               here
           to login</a>
              </div>
          </div>
   </div>
    </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dark-transparent sidebartoggler"></div>

@section FooterScripts {
    <script src="~/modules/auth/footer_register.js" asp-append-version="true"></script>
}